@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Rosarivo:ital@0;1&display=swap');
@font-face {
    font-family: "Monserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "pretendard";
    src: url(../font/PretendardJPVariable.ttf);
}

@font-face {
    font-family: "optima";
    src: url(../font/OptimaDisplay_Light.otf)
}

@font-face {
    font-family: "cinzel";
    src: url(../font/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: "rora";
    src: url(../font/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway";
    src: url(../font/);
}

