$estee-lauder--color-white : #fff;
$estee-lauder--color-black : #040404;
$estee-lauder--color-darkgray : #555555;
$estee-lauder--color-red : #AF031D;
$estee-lauder--color-lightgray : #B1B1B1;
$estee-lauder--color-superlightgray : #E8E8E8;
$estee-lauder--color-blue : #040A2B;
$inner-container-width : 1520px;