@import "./variables";
@import "./font-face";
@import "./keyframes";
@import "./mixin";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 5vw;
    background-color: transparent;
    border-bottom: 1px solid $estee-lauder--color-white;
    transition: .3s;
    font-family: "pretendard";
    color: $estee-lauder--color-white;
    &.active {
        background-color: $estee-lauder--color-blue;
        height: 80px;
    }
    .header_inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: clamp(200px, 10vw, 10vw);
            height: 38px;
            svg {
                width: 100%;
                height: 100%;
                fill: $estee-lauder--color-white;
            }
        }
        nav {
            ul {
                display: flex;
                gap: 3vw;
                li {
                    font-weight: 600;
                    font-size: clamp(14px, 1vw, 1.1vw);
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 1px;
                        bottom: -3px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: $estee-lauder--color-superlightgray;
                        transition: .3s;
                    }
                    &:hover::before {
                        width: 100%;
                    }
                    &:hover{
                        color: $estee-lauder--color-superlightgray;
                    }
                }
            }
        }
        .user_panel {
            display: flex;
            gap: 1vw;
            span {
                font-size: 14px;
            }
        }
    }
}

.section1 {
    width: 100%;
    height: 960px;
    position: relative;
    .videosection_text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: $estee-lauder--color-white;
        font-family: "pretendard";
        text-shadow: 0 0 5px #000;
        h2 {
            font-size: 16px;
            font-weight: 600;
        }
        p:last-child {
            font-size: clamp(20px, 1.2vw, 1.2vw);
            line-height: clamp(28px, 1.5vw, 1.5vw);
        }
        .videosection_svg {
            margin-bottom: 15px;
            svg {
                width: clamp(25vw, 35vw, 550px);
                fill: $estee-lauder--color-white;
            }
        }
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@include desktop {
    .section1 {
        height: 680px;
    }
}


.section2 {
    padding: 160px 10vw;
    display: flex;
    flex-direction: column;
    gap: 70px;
    .holiday_blockbuster {
        position: relative;
        height: clamp(750px,50vw, 70vw);
        .holiday_inner {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            font-family: "pretendard";
            color: $estee-lauder--color-white;
            button {
                margin: 30px auto 0 auto;
                width: 135px;
                height: 56px;
                border: 1px solid $estee-lauder--color-blue;
                cursor: pointer;
                color: $estee-lauder--color-white;
                background-color: $estee-lauder--color-blue;
                transition: .3s;
                &:hover{
                    background-color: $estee-lauder--color-white;
                    color: $estee-lauder--color-blue;
                }
            }
            .holiday_textwrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 40px;
                h2 {
                    font-size: clamp(20px, 2vw, 2vw);
                    font-weight: bold;
                    text-shadow: 0px 0px 2px $estee-lauder--color-black;
                }
                .holiday_textwrap_sub {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    p {
                        font-size: clamp(16px, 1.2vw, 1.2vw);
                        font-weight: 400;
                        letter-spacing: 2px;
                        color: $estee-lauder--color-white;
                        text-align: center;
                    }
                }
            }
        }
        .holiday_imgwrap {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .promotion15 {
        display: flex;
        gap: 50px;
        position: relative;
        .promotion15_deco_box {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 70px;
            height: 70px;
            background-color: $estee-lauder--color-red;
        }
        .promotion15_deco_box2 {
            position: absolute;
            right: 0;
            top: 0;
            width: 0.2vw;
            height: clamp(300px, 30vh, 30vh);
            background-color: $estee-lauder--color-red;
        }
        .promotion15_inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            .promotion15_titles {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                span {
                    font-size: clamp(50px, 7vw, 7vw);
                    line-height: clamp(50px, 7vw, 7vw);
                    letter-spacing: 5px;
                    font-family: "Rosarivo";
                    font-weight: 400;
                    color: $estee-lauder--color-red;
                }
            }
            .promotion15_contexts {
                line-height: 40px;
                letter-spacing: 1px;
                p {
                    display: inline;
                    font-size: clamp(14px, 1.2vw, 1.2vw);
                    font-family: "pretendard";
                    font-weight: 300;
                }
                span {
                    color: $estee-lauder--color-red;
                    font-size: clamp(14px, 1.2vw, 1.2vw);
                    font-weight: 500;
                }
            }
            button {
                width: 140px;
                height: 57px;
                border: 1px solid $estee-lauder--color-blue;
                color: $estee-lauder--color-white;
                background-color: $estee-lauder--color-blue;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    background-color: $estee-lauder--color-white;
                    color: $estee-lauder--color-blue;
                }
            }
        }
        .promotion15_imgwrap {
            width: 50%;
            height: clamp(700px, 42vw, 42vw);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.section3 {
    background-color: $estee-lauder--color-black;
    .bestseller_container {
        display: flex;
        .bestseller_stickyway {
            width: 50%;
            height: 2350px;
            position: relative;
            .bestseller_img {
                width: 100%;
                top: -100px;
                position: sticky;
                .bestseller_imgwrap {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: right;
                    }
                    #perfume {
                        position: absolute;
                        bottom: 6%;
                        left: 50%;
                        width: 20%;
                        height: 30%;
                        object-fit: cover;
                        transform: rotate(-15deg);
                    }
                }
            }
        }
        .bestseller_innerwrap {
            width: 50%;
            color: $estee-lauder--color-white;
            .bestseller_inner1 {
                padding: 340px 0;
                .bestseller_inner1_context {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    text-align: center;
                    .bestseller_pricespan {
                        margin-top: 10px;
                        display: flex;
                        gap: 15px;
                        justify-content: center;
                        align-items: center;
                        span {
                            font-family: "rora";
                            font-size: 16px;
                            letter-spacing: 0;
                            cursor: pointer;
                            &.active {
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                    h2 {
                        font-family: "cinzel";
                        font-size: clamp(18px, 1.4vw, 1.4vw);
                        font-weight: bold;
                        letter-spacing: 14px;
                    }
                    h3 {
                        font-family: "rora";
                        font-size: clamp(24px, 2.4vw, 2.4vw);
                        letter-spacing: 10px;
                        font-weight: 200;
                    }
                    span {
                        font-family: "rora";
                        font-size: clamp(16px, 1.2vw, 1.2vw);
                        letter-spacing: 8px;
                        font-weight: 200;
                        margin-top: 50px;
                    }
                    a {
                        margin-top: 50px;
                    }
                }
            }
            .bestseller_inner2 {
                margin-top: 300px;
                padding: 380px 0;
                color: $estee-lauder--color-white;
                .bestseller_inner2_context {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    text-align: center;
                    font-family: "pretendard";
                    .bestseller_inner2_pwrap {
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        justify-content: center;
                        align-content: center;
                        p {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                    h2 {
                        font-size: 18px;
                        font-weight: 300;
                        letter-spacing: 3px;
                    }
                    h3 {
                        font-size: 54px;
                        font-weight: 500;
                        letter-spacing: 8px;
                    }
                    button {
                        margin: 70px auto 0 auto;
                        width: 150px;
                        height: 60px;
                        font-family: "pretendard";
                        cursor: pointer;
                        border: 1px solid $estee-lauder--color-white;
                        color: $estee-lauder--color-blue;
                        background-color: $estee-lauder--color-white;
                        transition: .3s;
                        &:hover {
                            color: $estee-lauder--color-white;
                            background-color: $estee-lauder--color-blue;
                        }
                    }
                }
            }
        }
    }
}
@include fullDesktop {
    .section3 {
        width: 100%;
        height: 100vh;
        opacity: hidden;
        .bestseller_container {
            width: 100%;
            height: 100%;
            .bestseller_innerwrap{
                display: flex;
                align-items: center;
            }
            .bestseller_inner1 {
                padding: 0 !important;
            }
            .bestseller_stickyway {
                height: 100%;
                .bestseller_img {
                    width: 100%;
                    height: 100%;
                    position: static;
                }
            }
        }
        .bestseller_img {
            position: static;
        }
        #perfume {
            display: none;
        }
    }    
    .bestseller_inner2 {
        display: none;
    }
}


.section4 {
    padding: 200px 0;
    .section4_gridcontainer {
        width: $inner-container-width;
        margin: 0 auto;
        height: 920px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(20, 1fr);
        .section4_item_bgr {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .section4_main {
            grid-column: 1 / 15;
            grid-row: 1 / 12;
            position: relative;
            transition: .3s;
            &:hover{
                filter: brightness(1.15);
            }
            .section4_main_textwrap {
                position: absolute;
                top: 70px;
                left: 30px;
                color: $estee-lauder--color-white;
                h2 {
                    font-family: "optima";
                    font-size: 100px;
                    font-weight: 200;
                }
                p {
                    font-family: "pretendard";
                    font-size: 18px;
                    line-height: 40px;
                    font-weight: 200;
                    margin: 20px 0 0 5px;
                    letter-spacing: 2px;
                }
            }
        }
        .section4_item {
            position: relative;
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .section4_item_text{
                position: absolute;
                font-family: "pretendard";
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: .6rem;
                transition: .3s;
                opacity: 0;
                p {
                    padding: 0 0.6rem;
                }
                span {
                    margin-top: 1.6rem;
                    font-weight: 800;
                }
            }
            &:hover {
                filter: brightness(1.05);
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 0%;
                background-color: #f7f7f7c4;
                transition: .3s;
            }
            &:hover::before {
                height: 100%;
            }
            &:hover .section4_item_text {
                opacity: 1;
            }
        }
        .section4_item1 {
            grid-column: 15 / 24;
            grid-row: 1 / 11;
        }
        .section4_item2 {
            grid-column: 24 / 30;
            grid-row: 1 / 11;
        }
        .section4_item3 {
            grid-column: 1 / 9;
            grid-row: 12 / 20;
        }
        .section4_item4 {
            grid-column: 9 / 15;
            grid-row: 12 / 20;
        }
        .section4_item5 {
            grid-column: 15 / 22;
            grid-row: 11 / 17;
        }
        .section4_item6 {
            grid-column: 22 / 30;
            grid-row: 11 / 20;
        }
        button {
            grid-column: 15 / 22;
            grid-row: 17 / 20;
            font-family: "pretendard";
            font-size: 18px;
            cursor: pointer;
            color: $estee-lauder--color-white;
            background: url(../img/red1.png) no-repeat center / cover;
            transition: .3s;
            &:hover{
                filter: brightness(1.15);
            }
        }
    }
}

.centerline {
    width: calc(900px * 10);
    padding: 50px 0;
    background-color: $estee-lauder--color-white;
    border-top: 1px solid $estee-lauder--color-blue;
    border-bottom: 1px solid $estee-lauder--color-blue;
    display: flex;
    align-items: center;
    .linebelt {
        height: auto;
        display: flex;
        align-items: center;
        animation: linemove 40s linear  infinite;
        svg {
            margin: 0 200px;
            width: 500px;
            fill: $estee-lauder--color-blue;
        }
    }
}

.section5 {
    width: 100%;
    padding: 200px 0 ;
    .section5_container {
        width: $inner-container-width;
        height: 820px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        position: relative;
        .section5_inner {
            width: 80%;
            display: flex;
            justify-content: center;
            gap: 30px;
            .section5_textwrap {
                width: calc(100% - 594px);
                margin-left: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 60px;
                align-items: flex-end;
                text-align: end;
                color: $estee-lauder--color-blue;
                overflow: hidden;
                button {
                    width: 150px;
                    height: 60px;
                    border: 1px solid $estee-lauder--color-blue;
                    color: $estee-lauder--color-white;
                    cursor: pointer;
                    transition: .3s;
                    background-color: $estee-lauder--color-blue;
                    &:hover{
                        color: $estee-lauder--color-blue;
                        background-color: $estee-lauder--color-white;
                    }
                }
                .section5_text_top {
                    span {
                        display: block;
                        font-family: "optima";
                        font-size: 180px;
                        line-height: 180px;
                        font-weight: 200;
                    }
                    p {
                        font-family: "pretendard";
                        font-size: 16px;
                        font-weight: 300;
                        margin-top: 40px;
                    }
                }
                .section5_text_bottom {
                    margin-top: 100px;
                    h2 {
                        font-family: "pretendard";
                        font-size: 40px;
                        font-weight: semibold;
                    }
                    p {
                        font-family: "pretendard";
                        font-size: 16px;
                        font-weight: 300;
                        margin-top: 15px;
                    }
                }
            }
            .section5_img {
                width: 593px;
                height: 820px;
                display: flex;
                overflow: hidden;
                .swiper-wrapper {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .section5_decobox {
            position: absolute;
            background-color: $estee-lauder--color-blue;
        }
        .section5_decobox1 {
            top: 0;
            left: 0;
            width: 20px;
            height: 400px;
        }
        .section5_decobox2 {
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
        }
        .section5_decobox3 {
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
        }
    }
}

.section6 {
    padding: 200px 0;
    width: 100%;
    .section6_inner {
        width: $inner-container-width;
        margin: 0 auto;
        overflow: hidden;
        .section6_title {
            color: $estee-lauder--color-blue;
            strong {
                font-family: "optima";
                font-size: 88px;
                font-weight: 300;
            }
            p {
                font-family: "pretendard";
                font-size: 20px;
                font-weight: 300;
                margin-top: 10px;
            }
        }
        .section6_categories {
            margin-top: 40px;
            font-family: "pretendard";
            text-align: center;
            display: flex;
            align-items: center;
            gap: 40px;
            span {
                font-size: 16px;
                font-weight: 300;
                cursor: pointer;
                color: $estee-lauder--color-darkgray;
                &.active {
                    height: 30px;
                    color: $estee-lauder--color-red;
                    font-size: 20px;
                    border-bottom: 2px solid $estee-lauder--color-red;
                    font-weight: bold;
                }
            }
        }
        .section6_itemwrap {
            width: 100%;
            margin-top: 20px;
            display: flex;
            gap: 20px;
            .swiper-wrapper{
                width: 100%;
                .section6_item {
                    width: 286px;
                    .section6_item_img {
                        width: 100%;
                        height: 332px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .section6_item_texts {
                        padding: 20px 6px;
                        background-color: $estee-lauder--color-white;
                        color: $estee-lauder--color-darkgray;
                        h3 {
                            font-family: "rora";
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                        p {
                            font-family: "pretendard";
                            font-weight: 500;
                            font-size: 16px;
                            margin-bottom: 12px;
                        }
                        span {
                            font-family: "rora";
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        button {
            display: block;
            width: 140px;
            height: 60px;
            color: $estee-lauder--color-white;
            background-color: $estee-lauder--color-blue;
            border: 1px solid $estee-lauder--color-blue;
            cursor: pointer;
            margin: 100px auto 0 auto;
            transition: .3s;
            &:hover {
                color: $estee-lauder--color-blue;
                background-color: $estee-lauder--color-white;
            }
        }
    }
}

.section7 {
    padding: 200px 0;
    .section7_inner {
        width: 100%;
        height: auto;
        color: $estee-lauder--color-blue;
        .section7_title {
            text-align: center;
            opacity: 1;
            strong {
                overflow: hidden;
                font-size: 64px;
                font-family: "optima";
                font-weight: 300;
                margin-bottom: 10px;
            }
            p {
                font-size: 16px;
                font-family: "pretendard";
                font-weight: 300;
            }
            &.active {
                opacity: 0;
            }
        }
        .section7_grid {
            width: auto;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(2, 1fr);
            background-color: $estee-lauder--color-white;
            gap: 5px;
            .section7_grid_item {
                width: auto;
                .section7_grid_item_img {
                    width: 185px;
                    height: 360px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter: grayscale(1);
                        transition: .3s;
                        &:hover{
                            filter: grayscale(0) !important;
                            transform: scale(1.03);
                        }
                    }
                }
            }
        }
    }
}


footer {
    margin-top: 200px;
    border-top: 2px solid $estee-lauder--color-blue;
    font-family: "pretendard";
    color: $estee-lauder--color-darkgray;
    background-color: $estee-lauder--color-white;
    .footer_inner {
        padding: 150px 200px;
        display: flex;
        justify-content: space-between;
        .footer_inner_left{
            display: flex;
            flex-direction: column;
            gap: 64px;
            .ftr_logo {
                width: 550px;
                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .ftr_context {
                display: flex;
                flex-direction: column;
                p {
                    font-size: 12px;
                    font-weight: 400;
                }
                .ftr_span {
                    font-size: 12px;
                    font-weight: 600;
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;
                }
                .ftr_span_2 {
                    font-size: 12px;
                    font-weight: 400;
                    display: flex;
                    gap: 10px;
                }
            }
            .ftr_paylogo {
                margin-top: 100px;
                display: flex;
                gap: 40px;
            }
        }
        .footer_inner_right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .ftr_nav{
                display: flex;
                gap: 90px;
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    strong {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    li {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .ftr_right_img {
                display: flex;
                justify-content: space-between;
                .ftr_snslogo{
                    display: flex;
                    gap: 20px;
                    svg {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
