@import "./variables";
@import "./font-face";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 100px;
    background-color: transparent;
    border-bottom: 1px solid $estee-lauder--color-lightgray;
    font-family: "pretendard";
    color: $estee-lauder--color-white;
    .header_inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 307px;
            height: 38px;
            svg {
                width: 100%;
                height: 100%;
                fill: $estee-lauder--color-white;
            }
        }
        nav {
            ul {
                display: flex;
                gap: 45px;
                li {
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
        .user_panel {
            display: flex;
            gap: 20px;
            span {
                font-size: 16px;
            }
        }
    }
}

.section1 {
    width: 100%;
    height: 960px;
    position: relative;
    .videosection_text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: $estee-lauder--color-white;
        font-family: "pretendard";
        text-shadow: 0 0 5px #000;
        p:first-child {
            font-size: 16px;
            font-weight: 600;
        }
        p:last-child {
            font-size: 20px;
            line-height: 32px;
        }
        .videosection_svg {
            margin-bottom: 15px;
            svg {
                fill: $estee-lauder--color-white;
            }
        }
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section2 {
    padding: 160px 200px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    .holiday_blockbuster {
        position: relative;
        .holiday_inner {
            position: absolute;
            top: 40%;
            right: 5%;
            font-family: "pretendard";
            color: $estee-lauder--color-white;
            button {
                margin: 30px auto 0 auto;
                width: 135px;
                height: 56px;
                border: none;
                cursor: pointer;
                color: $estee-lauder--color-white;
                background-color: $estee-lauder--color-blue;
            }
            .holiday_textwrap {
                display: flex;
                flex-direction: column;
                gap: 40px;
                h2 {
                    font-size: 38px;
                    font-weight: bold;
                }
                .holiday_textwrap_sub {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    span {
                        font-size: 20px;
                        font-weight: 200;
                        letter-spacing: 2px;
                        color: $estee-lauder--color-white;
                        text-align: center;
                    }
                }
            }
        }
        .holiday_imgwrap {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .promotion15 {
        display: flex;
        gap: 50px;
        position: relative;
        .promotion15_deco_box {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 70px;
            height: 70px;
            background-color: $estee-lauder--color-red;
        }
        .promotion15_deco_box2 {
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            height: 300px;
            background-color: $estee-lauder--color-red;
        }
        .promotion15_inner {
            display: flex;
            flex-direction: column;
            gap: 50px;
            .promotion15_titles {
                display: flex;
                flex-direction: column;
                span {
                    font-size: 160px;
                    line-height: 160px;
                    letter-spacing: 5px;
                    font-family: "optima";
                    color: $estee-lauder--color-red;
                }
            }
            .promotion15_contexts {
                line-height: 40px;
                letter-spacing: 3px;
                font-size: 18px;
                font-family: "pretendard";
                font-weight: 200;
                p {
                    display: inline;
                }
                span {
                    color: $estee-lauder--color-red;
                    font-weight: 500;
                }
            }
            button {
                width: 140px;
                height: 57px;
                margin-top: 50px;
                color: $estee-lauder--color-white;
                background-color: $estee-lauder--color-blue;
                border: none;
                cursor: pointer;
            }
        }
        .promotion15_imgwrap {
            width: 50%;
            height: 960px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.section3 {
    background-color: $estee-lauder--color-black;
    .bestseller_container {
        display: flex;
        height: auto;
        .bestseller_stickyway {
            width: 50%;
            position: relative;
            .bestseller_img {
                width: 100%;
                top: -110px;
                position: sticky;
                .bestseller_imgwrap {
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    #perfume {
                        position: absolute;
                        bottom: 5%;
                        left: 50%;
                        width: 20%;
                        height: 30%;
                        object-fit: cover;
                        transform: rotate(-15deg);
                    }
                }
            }
        }
        .bestseller_innerwrap {
            width: 50%;
            color: $estee-lauder--color-white;
            .bestseller_inner1 {
                padding: 340px 0;
                .bestseller_inner1_context {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    text-align: center;
                    .bestseller_pricespan {
                        margin-top: 10px;
                        display: flex;
                        gap: 15px;
                        justify-content: center;
                        align-items: center;
                        span {
                            font-family: "rora";
                            font-size: 16px;
                            letter-spacing: 0;
                            cursor: pointer;
                            &.active {
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                    h2 {
                        font-family: "cinzel";
                        font-size: 22px;
                        font-weight: bold;
                        letter-spacing: 14px;
                    }
                    h3 {
                        font-family: "rora";
                        font-size: 48px;
                        letter-spacing: 10px;
                        font-weight: 200;
                    }
                    span {
                        font-family: "rora";
                        font-size: 24px;
                        letter-spacing: 8px;
                        font-weight: 200;
                        margin-top: 50px;
                    }
                    a {
                        margin-top: 50px;
                    }
                }
            }
            .bestseller_inner2 {
                margin-top: 300px;
                padding: 380px 0;
                .bestseller_inner2_context {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    text-align: center;
                    font-family: "pretendard";
                    .bestseller_inner2_pwrap {
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        justify-content: center;
                        align-content: center;
                        p {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                    h2 {
                        font-size: 18px;
                        font-weight: 300;
                        letter-spacing: 3px;
                    }
                    h3 {
                        font-size: 54px;
                        font-weight: 500;
                        letter-spacing: 8px;
                    }
                }
            }
        }
    }
}

.section4 {
    padding: 210px;
    .section4_gridcontainer {
        width: $inner-container-width;
        margin: 0 auto;
        height: 920px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(20, 1fr);
        .section4_item_bgr {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .section4_main {
            grid-column: 1 / 15;
            grid-row: 1 / 12;
            position: relative;
            .section4_main_textwrap {
                position: absolute;
                top: 70px;
                left: 30px;
                color: $estee-lauder--color-white;
                h2 {
                    font-family: "optima";
                    font-size: 100px;
                    font-weight: 200;
                }
                p {
                    font-family: "pretendard";
                    font-size: 18px;
                    line-height: 40px;
                    font-weight: 200;
                    margin: 20px 0 0 5px;
                    letter-spacing: 2px;
                }
            }
        }
        .section4_item1 {
            grid-column: 15 / 24;
            grid-row: 1 / 11;
        }
        .section4_item2 {
            grid-column: 24 / 30;
            grid-row: 1 / 11;
        }
        .section4_item3 {
            grid-column: 1 / 9;
            grid-row: 12 / 20;
        }
        .section4_item4 {
            grid-column: 9 / 15;
            grid-row: 12 / 20;
        }
        .section4_item5 {
            grid-column: 15 / 22;
            grid-row: 11 / 17;
        }
        .section4_item6 {
            grid-column: 22 / 30;
            grid-row: 11 / 20;
        }
        button {
            grid-column: 15 / 22;
            grid-row: 17 / 20;
            font-family: "pretendard";
            font-size: 18px;
            cursor: pointer;
            color: $estee-lauder--color-white;
            background: url(../img/red1.png) no-repeat center / cover;
        }
    }
}

.centerline {
    width: 300%;
    padding: 50px 0;
    background-color: $estee-lauder--color-white;
    border-top: 1px solid $estee-lauder--color-blue;
    border-bottom: 1px solid $estee-lauder--color-blue;
    display: flex;
    align-items: center;
    .linebelt {
        height: auto;
        display: flex;
        gap: 400px;
        align-items: center;
        svg {
            width: 500px;
            fill: $estee-lauder--color-blue;
        }
    }
}

.section5 {
    width: 100%;
    padding: 200px 0;
    .section5_container {
        width: $inner-container-width;
        padding: 0 150px;
        margin: 0 auto;
        display: flex;
        position: relative;
        .section5_inner {
            display: flex;
            justify-content: center;
            gap: 30px;
            .section5_textwrap {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 200px;
                text-align: end;
                color: $estee-lauder--color-blue;
                .section5_text_top {
                    strong {
                        font-family: "optima";
                        font-size: 200px;
                        line-height: 180px;
                        font-weight: 200;
                    }
                    p {
                        font-family: "pretendard";
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
                .section5_text_bottom {
                    h2 {
                        font-family: "pretendard";
                        font-size: 40px;
                        font-weight: semibold;
                    }
                    p {
                        font-family: "pretendard";
                        font-size: 16px;
                        font-weight: 300;
                        margin-top: 15px;
                    }
                }
            }
            .section5_img {
                width: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .section5_decobox {
            position: absolute;
            background-color: $estee-lauder--color-blue;
        }
        .section5_decobox1 {
            top: 0;
            left: 0;
            width: 30px;
            height: 200px;
        }
        .section5_decobox2 {
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
        }
        .section5_decobox3 {
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
        }
    }
}

.section6 {
    padding: 200px 0;
    width: 100%;
    .section6_inner {
        width: $inner-container-width;
        margin: 0 auto;
        overflow-x: hidden;
        .section6_title {
            color: $estee-lauder--color-blue;
            strong {
                font-family: "optima";
                font-size: 88px;
                font-weight: 300;
            }
            p {
                font-family: "pretendard";
                font-size: 20px;
                font-weight: 300;
                margin-top: 10px;
            }
        }
        .section6_categories {
            margin-top: 40px;
            font-family: "pretendard";
            text-align: center;
            display: flex;
            align-items: center;
            gap: 40px;
            span {
                font-size: 16px;
                font-weight: 300;
                cursor: pointer;
                color: $estee-lauder--color-darkgray;
                &.active {
                    width: 60px;
                    height: 30px;
                    color: $estee-lauder--color-red;
                    font-size: 20px;
                    border-bottom: 2px solid $estee-lauder--color-red;
                    font-weight: bold;
                }
            }
        }
        .section6_itemwrap {
            width: 200%;
            margin-top: 20px;
            display: flex;
            gap: 20px;
            .section6_item {
                width: 286px;
                .section6_item_img {
                    width: 100%;
                    height: 332px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .section6_item_texts {
                    padding: 20px 6px;
                    background-color: $estee-lauder--color-white;
                    color: $estee-lauder--color-darkgray;
                    h3 {
                        font-family: "rora";
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                    p {
                        font-family: "pretendard";
                        font-weight: 500;
                        font-size: 16px;
                        margin-bottom: 12px;
                    }
                    span {
                        font-family: "rora";
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
        button {
            display: block;
            width: 140px;
            height: 60px;
            color: $estee-lauder--color-white;
            background-color: $estee-lauder--color-blue;
            border: none;
            cursor: pointer;
            margin: 100px auto 0 auto;
        }
    }
}

.section7 {
    padding: 200px 0;
    .section7_inner {
        width: 100%;
        color: $estee-lauder--color-blue;
        .section7_title {
            text-align: center;
            strong {
                font-size: 64px;
                font-family: "optima";
                font-weight: 300;
                margin-bottom: 10px;
            }
            p {
                font-size: 16px;
                font-family: "pretendard";
                font-weight: 300;
            }
        }
        .section7_grid {
            width: 100%;
            margin-top: 40px;
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 5px;
            .section7_grid_item {
                .section7_grid_item_img {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}


footer {
    margin-top: 200px;
    border-top: 2px solid $estee-lauder--color-blue;
    font-family: "pretendard";
    color: $estee-lauder--color-darkgray;
    background-color: $estee-lauder--color-white;
    .footer_inner {
        padding: 150px 200px;
        display: flex;
        justify-content: space-between;
        .footer_inner_left{
            display: flex;
            flex-direction: column;
            gap: 64px;
            .ftr_logo {
                width: 550px;
                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .ftr_context {
                display: flex;
                flex-direction: column;
                p {
                    font-size: 12px;
                    font-weight: 400;
                }
                .ftr_span {
                    font-size: 12px;
                    font-weight: 600;
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;
                }
                .ftr_span_2 {
                    font-size: 12px;
                    font-weight: 400;
                    display: flex;
                    gap: 10px;
                }
            }
            .ftr_paylogo {
                margin-top: 100px;
                display: flex;
                gap: 40px;
            }
        }
        .footer_inner_right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .ftr_nav{
                display: flex;
                gap: 90px;
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    strong {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    li {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .ftr_right_img {
                display: flex;
                justify-content: space-between;
                .ftr_snslogo{
                    display: flex;
                    gap: 20px;
                    svg {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}