@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Rosarivo:ital@0;1&display=swap");
@font-face {
  font-family: "Monserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "pretendard";
  src: url(../font/PretendardJPVariable.ttf);
}
@font-face {
  font-family: "optima";
  src: url(../font/OptimaDisplay_Light.otf);
}
@font-face {
  font-family: "cinzel";
  src: url(../font/Cinzel-VariableFont_wght.ttf);
}
@font-face {
  font-family: "rora";
  src: url(../font/Lora-VariableFont_wght.ttf);
}
@font-face {
  font-family: "raleway";
  src: url(../font/);
}
@keyframes linemove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4500px);
  }
}
/* 1280px */
/* 1024px */
/* 768px */
/* 335px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0 5vw;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  transition: 0.3s;
  font-family: "pretendard";
  color: #fff;
}
header.active {
  background-color: #040A2B;
  height: 80px;
}
header .header_inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_inner .logo {
  width: clamp(200px, 10vw, 10vw);
  height: 38px;
}
header .header_inner .logo svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
header .header_inner nav ul {
  display: flex;
  gap: 3vw;
}
header .header_inner nav ul li {
  font-weight: 600;
  font-size: clamp(14px, 1vw, 1.1vw);
  position: relative;
}
header .header_inner nav ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E8E8E8;
  transition: 0.3s;
}
header .header_inner nav ul li:hover::before {
  width: 100%;
}
header .header_inner nav ul li:hover {
  color: #E8E8E8;
}
header .header_inner .user_panel {
  display: flex;
  gap: 1vw;
}
header .header_inner .user_panel span {
  font-size: 14px;
}

.section1 {
  width: 100%;
  height: 960px;
  position: relative;
}
.section1 .videosection_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  font-family: "pretendard";
  text-shadow: 0 0 5px #000;
}
.section1 .videosection_text h2 {
  font-size: 16px;
  font-weight: 600;
}
.section1 .videosection_text p:last-child {
  font-size: clamp(20px, 1.2vw, 1.2vw);
  line-height: clamp(28px, 1.5vw, 1.5vw);
}
.section1 .videosection_text .videosection_svg {
  margin-bottom: 15px;
}
.section1 .videosection_text .videosection_svg svg {
  width: clamp(25vw, 35vw, 550px);
  fill: #fff;
}
.section1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .section1 {
    height: 680px;
  }
}
.section2 {
  padding: 160px 10vw;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.section2 .holiday_blockbuster {
  position: relative;
  height: clamp(750px, 50vw, 70vw);
}
.section2 .holiday_blockbuster .holiday_inner {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-family: "pretendard";
  color: #fff;
}
.section2 .holiday_blockbuster .holiday_inner button {
  margin: 30px auto 0 auto;
  width: 135px;
  height: 56px;
  border: 1px solid #040A2B;
  cursor: pointer;
  color: #fff;
  background-color: #040A2B;
  transition: 0.3s;
}
.section2 .holiday_blockbuster .holiday_inner button:hover {
  background-color: #fff;
  color: #040A2B;
}
.section2 .holiday_blockbuster .holiday_inner .holiday_textwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.section2 .holiday_blockbuster .holiday_inner .holiday_textwrap h2 {
  font-size: clamp(20px, 2vw, 2vw);
  font-weight: bold;
  text-shadow: 0px 0px 2px #040404;
}
.section2 .holiday_blockbuster .holiday_inner .holiday_textwrap .holiday_textwrap_sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section2 .holiday_blockbuster .holiday_inner .holiday_textwrap .holiday_textwrap_sub p {
  font-size: clamp(16px, 1.2vw, 1.2vw);
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}
.section2 .holiday_blockbuster .holiday_imgwrap {
  width: 100%;
  height: 100%;
}
.section2 .holiday_blockbuster .holiday_imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section2 .promotion15 {
  display: flex;
  gap: 50px;
  position: relative;
}
.section2 .promotion15 .promotion15_deco_box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
  height: 70px;
  background-color: #AF031D;
}
.section2 .promotion15 .promotion15_deco_box2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.2vw;
  height: clamp(300px, 30vh, 30vh);
  background-color: #AF031D;
}
.section2 .promotion15 .promotion15_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.section2 .promotion15 .promotion15_inner .promotion15_titles {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section2 .promotion15 .promotion15_inner .promotion15_titles span {
  font-size: clamp(50px, 7vw, 7vw);
  line-height: clamp(50px, 7vw, 7vw);
  letter-spacing: 5px;
  font-family: "Rosarivo";
  font-weight: 400;
  color: #AF031D;
}
.section2 .promotion15 .promotion15_inner .promotion15_contexts {
  line-height: 40px;
  letter-spacing: 1px;
}
.section2 .promotion15 .promotion15_inner .promotion15_contexts p {
  display: inline;
  font-size: clamp(14px, 1.2vw, 1.2vw);
  font-family: "pretendard";
  font-weight: 300;
}
.section2 .promotion15 .promotion15_inner .promotion15_contexts span {
  color: #AF031D;
  font-size: clamp(14px, 1.2vw, 1.2vw);
  font-weight: 500;
}
.section2 .promotion15 .promotion15_inner button {
  width: 140px;
  height: 57px;
  border: 1px solid #040A2B;
  color: #fff;
  background-color: #040A2B;
  cursor: pointer;
  transition: 0.3s;
}
.section2 .promotion15 .promotion15_inner button:hover {
  background-color: #fff;
  color: #040A2B;
}
.section2 .promotion15 .promotion15_imgwrap {
  width: 50%;
  height: clamp(700px, 42vw, 42vw);
  overflow: hidden;
}
.section2 .promotion15 .promotion15_imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3 {
  background-color: #040404;
}
.section3 .bestseller_container {
  display: flex;
}
.section3 .bestseller_container .bestseller_stickyway {
  width: 50%;
  height: 2350px;
  position: relative;
}
.section3 .bestseller_container .bestseller_stickyway .bestseller_img {
  width: 100%;
  top: -100px;
  position: sticky;
}
.section3 .bestseller_container .bestseller_stickyway .bestseller_img .bestseller_imgwrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.section3 .bestseller_container .bestseller_stickyway .bestseller_img .bestseller_imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.section3 .bestseller_container .bestseller_stickyway .bestseller_img .bestseller_imgwrap #perfume {
  position: absolute;
  bottom: 6%;
  left: 50%;
  width: 20%;
  height: 30%;
  object-fit: cover;
  transform: rotate(-15deg);
}
.section3 .bestseller_container .bestseller_innerwrap {
  width: 50%;
  color: #fff;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 {
  padding: 340px 0;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 .bestseller_inner1_context {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 .bestseller_inner1_context .bestseller_pricespan {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 .bestseller_inner1_context .bestseller_pricespan span {
  font-family: "rora";
  font-size: 16px;
  letter-spacing: 0;
  cursor: pointer;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 .bestseller_inner1_context .bestseller_pricespan span.active {
  font-size: 18px;
  font-weight: bold;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 .bestseller_inner1_context h2 {
  font-family: "cinzel";
  font-size: clamp(18px, 1.4vw, 1.4vw);
  font-weight: bold;
  letter-spacing: 14px;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 .bestseller_inner1_context h3 {
  font-family: "rora";
  font-size: clamp(24px, 2.4vw, 2.4vw);
  letter-spacing: 10px;
  font-weight: 200;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 .bestseller_inner1_context span {
  font-family: "rora";
  font-size: clamp(16px, 1.2vw, 1.2vw);
  letter-spacing: 8px;
  font-weight: 200;
  margin-top: 50px;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner1 .bestseller_inner1_context a {
  margin-top: 50px;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner2 {
  margin-top: 300px;
  padding: 380px 0;
  color: #fff;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner2 .bestseller_inner2_context {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-family: "pretendard";
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner2 .bestseller_inner2_context .bestseller_inner2_pwrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-content: center;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner2 .bestseller_inner2_context .bestseller_inner2_pwrap p {
  font-size: 20px;
  line-height: 26px;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner2 .bestseller_inner2_context h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner2 .bestseller_inner2_context h3 {
  font-size: 54px;
  font-weight: 500;
  letter-spacing: 8px;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner2 .bestseller_inner2_context button {
  margin: 70px auto 0 auto;
  width: 150px;
  height: 60px;
  font-family: "pretendard";
  cursor: pointer;
  border: 1px solid #fff;
  color: #040A2B;
  background-color: #fff;
  transition: 0.3s;
}
.section3 .bestseller_container .bestseller_innerwrap .bestseller_inner2 .bestseller_inner2_context button:hover {
  color: #fff;
  background-color: #040A2B;
}

@media (max-width: 1919px) {
  .section3 {
    width: 100%;
    height: 100vh;
    opacity: hidden;
  }
  .section3 .bestseller_container {
    width: 100%;
    height: 100%;
  }
  .section3 .bestseller_container .bestseller_innerwrap {
    display: flex;
    align-items: center;
  }
  .section3 .bestseller_container .bestseller_inner1 {
    padding: 0 !important;
  }
  .section3 .bestseller_container .bestseller_stickyway {
    height: 100%;
  }
  .section3 .bestseller_container .bestseller_stickyway .bestseller_img {
    width: 100%;
    height: 100%;
    position: static;
  }
  .section3 .bestseller_img {
    position: static;
  }
  .section3 #perfume {
    display: none;
  }
  .bestseller_inner2 {
    display: none;
  }
}
.section4 {
  padding: 200px 0;
}
.section4 .section4_gridcontainer {
  width: 1520px;
  margin: 0 auto;
  height: 920px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.section4 .section4_gridcontainer .section4_item_bgr {
  width: 100%;
  height: 100%;
}
.section4 .section4_gridcontainer .section4_item_bgr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section4 .section4_gridcontainer .section4_main {
  grid-column: 1/15;
  grid-row: 1/12;
  position: relative;
  transition: 0.3s;
}
.section4 .section4_gridcontainer .section4_main:hover {
  filter: brightness(1.15);
}
.section4 .section4_gridcontainer .section4_main .section4_main_textwrap {
  position: absolute;
  top: 70px;
  left: 30px;
  color: #fff;
}
.section4 .section4_gridcontainer .section4_main .section4_main_textwrap h2 {
  font-family: "optima";
  font-size: 100px;
  font-weight: 200;
}
.section4 .section4_gridcontainer .section4_main .section4_main_textwrap p {
  font-family: "pretendard";
  font-size: 18px;
  line-height: 40px;
  font-weight: 200;
  margin: 20px 0 0 5px;
  letter-spacing: 2px;
}
.section4 .section4_gridcontainer .section4_item {
  position: relative;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section4 .section4_gridcontainer .section4_item .section4_item_text {
  position: absolute;
  font-family: "pretendard";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
  transition: 0.3s;
  opacity: 0;
}
.section4 .section4_gridcontainer .section4_item .section4_item_text p {
  padding: 0 0.6rem;
}
.section4 .section4_gridcontainer .section4_item .section4_item_text span {
  margin-top: 1.6rem;
  font-weight: 800;
}
.section4 .section4_gridcontainer .section4_item:hover {
  filter: brightness(1.05);
}
.section4 .section4_gridcontainer .section4_item::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(247, 247, 247, 0.768627451);
  transition: 0.3s;
}
.section4 .section4_gridcontainer .section4_item:hover::before {
  height: 100%;
}
.section4 .section4_gridcontainer .section4_item:hover .section4_item_text {
  opacity: 1;
}
.section4 .section4_gridcontainer .section4_item1 {
  grid-column: 15/24;
  grid-row: 1/11;
}
.section4 .section4_gridcontainer .section4_item2 {
  grid-column: 24/30;
  grid-row: 1/11;
}
.section4 .section4_gridcontainer .section4_item3 {
  grid-column: 1/9;
  grid-row: 12/20;
}
.section4 .section4_gridcontainer .section4_item4 {
  grid-column: 9/15;
  grid-row: 12/20;
}
.section4 .section4_gridcontainer .section4_item5 {
  grid-column: 15/22;
  grid-row: 11/17;
}
.section4 .section4_gridcontainer .section4_item6 {
  grid-column: 22/30;
  grid-row: 11/20;
}
.section4 .section4_gridcontainer button {
  grid-column: 15/22;
  grid-row: 17/20;
  font-family: "pretendard";
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background: url(../img/red1.png) no-repeat center/cover;
  transition: 0.3s;
}
.section4 .section4_gridcontainer button:hover {
  filter: brightness(1.15);
}

.centerline {
  width: 9000px;
  padding: 50px 0;
  background-color: #fff;
  border-top: 1px solid #040A2B;
  border-bottom: 1px solid #040A2B;
  display: flex;
  align-items: center;
}
.centerline .linebelt {
  height: auto;
  display: flex;
  align-items: center;
  animation: linemove 40s linear infinite;
}
.centerline .linebelt svg {
  margin: 0 200px;
  width: 500px;
  fill: #040A2B;
}

.section5 {
  width: 100%;
  padding: 200px 0;
}
.section5 .section5_container {
  width: 1520px;
  height: 820px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.section5 .section5_container .section5_inner {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.section5 .section5_container .section5_inner .section5_textwrap {
  width: calc(100% - 594px);
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-end;
  text-align: end;
  color: #040A2B;
  overflow: hidden;
}
.section5 .section5_container .section5_inner .section5_textwrap button {
  width: 150px;
  height: 60px;
  border: 1px solid #040A2B;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  background-color: #040A2B;
}
.section5 .section5_container .section5_inner .section5_textwrap button:hover {
  color: #040A2B;
  background-color: #fff;
}
.section5 .section5_container .section5_inner .section5_textwrap .section5_text_top span {
  display: block;
  font-family: "optima";
  font-size: 180px;
  line-height: 180px;
  font-weight: 200;
}
.section5 .section5_container .section5_inner .section5_textwrap .section5_text_top p {
  font-family: "pretendard";
  font-size: 16px;
  font-weight: 300;
  margin-top: 40px;
}
.section5 .section5_container .section5_inner .section5_textwrap .section5_text_bottom {
  margin-top: 100px;
}
.section5 .section5_container .section5_inner .section5_textwrap .section5_text_bottom h2 {
  font-family: "pretendard";
  font-size: 40px;
  font-weight: semibold;
}
.section5 .section5_container .section5_inner .section5_textwrap .section5_text_bottom p {
  font-family: "pretendard";
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
}
.section5 .section5_container .section5_inner .section5_img {
  width: 593px;
  height: 820px;
  display: flex;
  overflow: hidden;
}
.section5 .section5_container .section5_inner .section5_img .swiper-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section5 .section5_container .section5_decobox {
  position: absolute;
  background-color: #040A2B;
}
.section5 .section5_container .section5_decobox1 {
  top: 0;
  left: 0;
  width: 20px;
  height: 400px;
}
.section5 .section5_container .section5_decobox2 {
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}
.section5 .section5_container .section5_decobox3 {
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.section6 {
  padding: 200px 0;
  width: 100%;
}
.section6 .section6_inner {
  width: 1520px;
  margin: 0 auto;
  overflow: hidden;
}
.section6 .section6_inner .section6_title {
  color: #040A2B;
}
.section6 .section6_inner .section6_title strong {
  font-family: "optima";
  font-size: 88px;
  font-weight: 300;
}
.section6 .section6_inner .section6_title p {
  font-family: "pretendard";
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}
.section6 .section6_inner .section6_categories {
  margin-top: 40px;
  font-family: "pretendard";
  text-align: center;
  display: flex;
  align-items: center;
  gap: 40px;
}
.section6 .section6_inner .section6_categories span {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  color: #555555;
}
.section6 .section6_inner .section6_categories span.active {
  height: 30px;
  color: #AF031D;
  font-size: 20px;
  border-bottom: 2px solid #AF031D;
  font-weight: bold;
}
.section6 .section6_inner .section6_itemwrap {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.section6 .section6_inner .section6_itemwrap .swiper-wrapper {
  width: 100%;
}
.section6 .section6_inner .section6_itemwrap .swiper-wrapper .section6_item {
  width: 286px;
}
.section6 .section6_inner .section6_itemwrap .swiper-wrapper .section6_item .section6_item_img {
  width: 100%;
  height: 332px;
}
.section6 .section6_inner .section6_itemwrap .swiper-wrapper .section6_item .section6_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section6 .section6_inner .section6_itemwrap .swiper-wrapper .section6_item .section6_item_texts {
  padding: 20px 6px;
  background-color: #fff;
  color: #555555;
}
.section6 .section6_inner .section6_itemwrap .swiper-wrapper .section6_item .section6_item_texts h3 {
  font-family: "rora";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.section6 .section6_inner .section6_itemwrap .swiper-wrapper .section6_item .section6_item_texts p {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
}
.section6 .section6_inner .section6_itemwrap .swiper-wrapper .section6_item .section6_item_texts span {
  font-family: "rora";
  font-size: 14px;
  font-weight: 500;
}
.section6 .section6_inner button {
  display: block;
  width: 140px;
  height: 60px;
  color: #fff;
  background-color: #040A2B;
  border: 1px solid #040A2B;
  cursor: pointer;
  margin: 100px auto 0 auto;
  transition: 0.3s;
}
.section6 .section6_inner button:hover {
  color: #040A2B;
  background-color: #fff;
}

.section7 {
  padding: 200px 0;
}
.section7 .section7_inner {
  width: 100%;
  height: auto;
  color: #040A2B;
}
.section7 .section7_inner .section7_title {
  text-align: center;
  opacity: 1;
}
.section7 .section7_inner .section7_title strong {
  overflow: hidden;
  font-size: 64px;
  font-family: "optima";
  font-weight: 300;
  margin-bottom: 10px;
}
.section7 .section7_inner .section7_title p {
  font-size: 16px;
  font-family: "pretendard";
  font-weight: 300;
}
.section7 .section7_inner .section7_title.active {
  opacity: 0;
}
.section7 .section7_inner .section7_grid {
  width: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #fff;
  gap: 5px;
}
.section7 .section7_inner .section7_grid .section7_grid_item {
  width: auto;
}
.section7 .section7_inner .section7_grid .section7_grid_item .section7_grid_item_img {
  width: 185px;
  height: 360px;
  overflow: hidden;
}
.section7 .section7_inner .section7_grid .section7_grid_item .section7_grid_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.3s;
}
.section7 .section7_inner .section7_grid .section7_grid_item .section7_grid_item_img img:hover {
  filter: grayscale(0) !important;
  transform: scale(1.03);
}

footer {
  margin-top: 200px;
  border-top: 2px solid #040A2B;
  font-family: "pretendard";
  color: #555555;
  background-color: #fff;
}
footer .footer_inner {
  padding: 150px 200px;
  display: flex;
  justify-content: space-between;
}
footer .footer_inner .footer_inner_left {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
footer .footer_inner .footer_inner_left .ftr_logo {
  width: 550px;
}
footer .footer_inner .footer_inner_left .ftr_logo svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .footer_inner .footer_inner_left .ftr_context {
  display: flex;
  flex-direction: column;
}
footer .footer_inner .footer_inner_left .ftr_context p {
  font-size: 12px;
  font-weight: 400;
}
footer .footer_inner .footer_inner_left .ftr_context .ftr_span {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
footer .footer_inner .footer_inner_left .ftr_context .ftr_span_2 {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 10px;
}
footer .footer_inner .footer_inner_left .ftr_paylogo {
  margin-top: 100px;
  display: flex;
  gap: 40px;
}
footer .footer_inner .footer_inner_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_inner .footer_inner_right .ftr_nav {
  display: flex;
  gap: 90px;
}
footer .footer_inner .footer_inner_right .ftr_nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer_inner .footer_inner_right .ftr_nav ul strong {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .footer_inner .footer_inner_right .ftr_nav ul li {
  font-size: 16px;
  font-weight: 400;
}
footer .footer_inner .footer_inner_right .ftr_right_img {
  display: flex;
  justify-content: space-between;
}
footer .footer_inner .footer_inner_right .ftr_right_img .ftr_snslogo {
  display: flex;
  gap: 20px;
}
footer .footer_inner .footer_inner_right .ftr_right_img .ftr_snslogo svg {
  cursor: pointer;
}